<?xml version="1.0" encoding="utf-8" ?>
<configuration>


	<connectionStrings>

		<!--SQL Server Connection String-->
		<add name="CsWinSql"
			 connectionString="data source=DESKTOP-MV0QJ02\SQLEXPRESS;
         database=clinicalDb2025;
          integrated security=SSPI; 
          TrustServerCertificate=true"
			 providerName="System.Data.SqlClient"/>


	</connectionStrings>



</configuration>